@typeparam T
@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass" role="table">
    <div class="header" role="rowheader">
        @TableHeader
    </div>

    <Loader class="loading" Loading="Loading">
        @if (List.Any())
        {
            @for (var index = 0; index < List.Count(); index++)
            {
                T element = List.ElementAt(index);

                <div @key="element" class="row" role="row">
                    @TableRow((element, index))
                </div>
            }
        }
        else if (Placeholder != null)
        {
            <div class="placeholder" role="row">No rows present</div>
        }
    </Loader>
</div>

@code {

    [Parameter, EditorRequired]
    public IEnumerable<T> List { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment<(T Row, int Index)> TableRow { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment TableHeader { get; set; }

    [Parameter]
    public RenderFragment? Placeholder { get; set; }

    [Parameter]
    public bool Loading { get; set; }

}
