@typeparam T
@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <div class="header">
        @TableHeader
    </div>

    @if (List.Any())
    {
        @foreach (T element in List)
        {
            <div class="row">
                @TableRow(element)
            </div>
        }
    }
    else if (Placeholder != null)
    {
        <div class="placeholder">No rows present</div>
    }
</div>

@code {

    [Parameter, EditorRequired]
    public IEnumerable<T> List { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment<T> TableRow { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment TableHeader { get; set; }

    [Parameter]
    public RenderFragment? Placeholder { get; set; }

}
