@inject APIHttpClient APIHttpClient
@inject TextService TextService
@inject UserAuthenticationStateProvider AuthService
@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        @Body
    </Authorized>
    <Authorizing>

    </Authorizing>
    <NotAuthorized>
        <div class="form">
            <div class="content">
                <div class="column">
                    <h2>
                        @TextService.Get(TextConstants.HeaderFormSignUp)
                    </h2>
                    <AuthenticationSignUpAPIForm OnSubmit="form => form.SubmitAsync(SignUpFormSubmit)">
                        <Button Status="StatusEnum.Info" type="submit">
                            @TextService.Get(TextConstants.ButtonSignUp)
                        </Button>
                    </AuthenticationSignUpAPIForm>
                </div>
                <div class="column">
                    <h2>
                        @TextService.Get(TextConstants.HeaderFormSignIn)
                    </h2>
                    <AuthenticationSignInAPIForm OnSubmit="form => form.SubmitAsync(SignInFormSubmit)">
                        <Button Status="StatusEnum.Success" type="submit">
                            @TextService.Get(TextConstants.ButtonSignIn)
                        </Button>
                    </AuthenticationSignInAPIForm>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private bool _isLoading = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (!firstRender) return;

        AuthenticationState state = await AuthService.GetAuthenticationStateAsync();
        if (state.User.Identity?.IsAuthenticated ?? false)
        {
            try
            {
                AuthenticationRenewResponse response = await APIHttpClient.SendRequest<AuthenticationRenewResponse>(HttpMethod.Post, "Authentication/Renew");
                await AuthService.UpdateIdentity(response.JWT);
                return;
            }
            catch (Exception)
            {
                await AuthService.ResetIdentity();
            }
        }

        await InvokeAsync(async () =>
        {
            await TextService.Resolve();
            _isLoading = false;
            StateHasChanged();
        });
    }

    private async Task SignInFormSubmit(IWebFormContext<AuthenticationSignInFormModel> context)
    {
        try
        {
            AuthenticationSignInResponse result = await APIHttpClient.SendRequest(context.Model);
            await AuthService.UpdateIdentity(result.JWT);
        }
        catch (Exception e)
        {
            context.HandleException(e);
        }
    }

    private async Task SignUpFormSubmit(IWebFormContext<AuthenticationSignUpFormModel> context)
    {
        try
        {
            AuthenticationSignUpResponse result = await APIHttpClient.SendRequest(context.Model);
            await AuthService.UpdateIdentity(result.JWT);
        }
        catch (Exception e)
        {
            context.HandleException(e);
        }
    }

}