.SchemaEntityElementView {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    row-gap: var(--size-gap-md);
    padding: var(--size-gap-md);
    background-color: var(--color-offset-primary-sm);
    border-radius: var(--size-border-radius-lg);
}

.SchemaEntityElementView ::deep .grid {
    grid-template-columns: max-content 1fr max-content max-content max-content max-content;
}
