@inject IState<FeatureSchemaState> State
@inject IDispatcher Dispatcher
@inject TextParameterService TextParameterService
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">@TextParameterService.Get(ParameterTextConstants.HeaderFormUpdateSchema)</DynamicHTMLTag>

    <FormSchemaUpdate Schema="Schema" OnSubmit="Submit">
        <ButtonList Alignment="ButtonListAlignmentEnum.Right">
            <Button Status="StatusEnum.Info" Loading="IsLoading" type="submit">
                @TextParameterService.Get(ParameterTextConstants.ButtonUpdate)
            </Button>
        </ButtonList>
    </FormSchemaUpdate>
</div>

@code {

    [Parameter, EditorRequired]
    public required EntitySchema Schema { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? ComponentName;

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H1;

    private bool IsLoading => State.Value.TryGetLoading(ScopeCurrent, FeatureSchemaActionKind.Add, out bool value) && value;

    private void Submit(IWebFormContext<RequestSchemaUpdate> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaReducers.UpdateAction(ScopeCurrent, value.Model));
    }

}
