.InputGroupSelect {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column;
}

.InputGroupSelect ::deep > .TemplateInputGroup > .wrapper > .control {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row;
    position: relative;
    max-width: 100%;
    align-self: flex-start;
}

.InputGroupSelect ::deep > .TemplateInputGroup > .wrapper > .control::after {
    content: "▼";
    position: absolute;
    right: var(--size-gap-xxs, 8px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.InputGroupSelect ::deep > .TemplateInputGroup > .wrapper > .control .InputElementSelect {
    min-width: 160px;
    padding-right: calc(var(--size-gap-xxs, 8px) + var(--size-gap-sm, 16px) + var(--size-gap-xxs, 8px));
    appearance: none;
}