.InputGroupRadioSet {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
}

.InputGroupRadioSet ::deep .InputElementRadioSet {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column;
    row-gap: var(--size-gap-xs);
}

.InputGroupRadioSet ::deep .InputElementRadioSet > .option {
    display: flex;
    flex-flow: row;
    align-items: center;
    grid-column-gap: var(--size-gap-xxs);
}