.MagazineFrame {
    --center-width: 1fr;
    
    container-type: inline-size;
    inline-size: 100%;
    margin-inline: auto;
}

.grid {
    display: grid;
    row-gap: var(--size-gap-md);
    column-gap: var(--size-gap-md);
    grid-template: "left center right" / 360px minmax(360px, var(--center-width)) 360px;
}

.left {
    grid-area: left;
}

.center {
    grid-area: center;
}

.right {
    grid-area: right;
}

@container (max-width: 1440px) {
    .grid {
        grid-template: "center center" "left right" / 1fr 1fr;
    }
}

@container (max-width: 720px) {
    .grid {
        grid-template: "center" "left" "right" / 1fr;
    }

    .left, .right {
        max-width: 360px;
        margin-inline: auto;
    }
}