.MagazineFrame {
    --center-width: 1fr;
    
    container-type: inline-size;
    inline-size: 100%;
    margin-inline: auto;
}

.grid {
    display: grid;
    row-gap: var(--size-gap-md); 
    column-gap: var(--size-gap-md);
    justify-content: center;
    grid-template: "left center right" / var(--size-column) minmax(var(--size-column), var(--center-width)) var(--size-column);
}

.left {
    grid-area: left;
}

.center {
    grid-area: center;
}

.right {
    grid-area: right;
}

/* Column-size * 4 */
@container (max-width: 1320px) {
    .grid {
        grid-template: "center center" "left right" / var(--size-column) var(--size-column);
    }
}

/* Column-size * 2 */
@container (max-width: 660px) {
    .grid {
        grid-template: "center" "left" "right" / var(--size-column);
    }

    .left, .right {
        max-width: var(--size-column);
        margin-inline: auto;
    }
}