.PageLayout {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    overflow: auto;
    row-gap: var(--size-gap-md);
}

.header {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    padding: var(--size-gap-md);
    padding-bottom: 0;
    column-gap: var(--size-gap-xl);
}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    padding-inline: var(--size-gap-md);
    overflow: auto;
}
