.PageLayout {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    overflow: auto;
    row-gap: var(--size-gap-md);
}

.header {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    padding: var(--size-gap-xs) var(--size-gap-xl);
    column-gap: var(--size-gap-xl);
    border-bottom: var(--size-border-width-md) solid color-mix(in srgb, transparent 80%, var(--color-background-complementary, #000000));
}

.left {
    font-size: var(--size-text-h3);
}

.center {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    column-gap: var(--size-gap-md);
}

.right {

}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    padding-inline: var(--size-gap-md);
    overflow: auto;
}
