.InputElementCheckboxSet {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column;
    row-gap: var(--size-gap-xs);
}

.option {
    display: flex;
    flex-flow: row;
    align-items: center;
    grid-column-gap: var(--size-gap-xs);
}