@inherits BaseInput<TValue>
@typeparam TValue

<div @attributes="AdditionalAttributes" class="@CssClass">
    @foreach (TValue item in OptionList)
    {
        <label class="option">
            <InputElementRadio @attributes="OptionAttributes?.Invoke(item)" Name="@GetName()" Option="item" Value="Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression" OnChange="OnRadioChanged"/>

            @ChildContent(item)
        </label>
    }
</div>

@code {

    [Parameter, EditorRequired]
    public required HashSet<TValue> OptionList { get; set; }

    [Parameter, EditorRequired]
    public required RenderFragment<TValue> ChildContent { get; set; }

    [Parameter]
    public Func<TValue, IReadOnlyDictionary<string, object>?>? OptionAttributes { get; set; }

    private void OnRadioChanged(ChangeEventArgs args)
    {
        OnChange.InvokeAsync(args);
    }

}
