@page "/"
@inject TextService TextService
@inherits PageComponent

<PageTitle>Administration</PageTitle>

<div class="@CssClass">
    <MagazineFrame>
        <Left>

        </Left>
        <Content>

        </Content>
        <Right>

        </Right>
    </MagazineFrame>
</div>

@code {

    protected override async Task OnFirstRenderAsync()
    {
        await base.OnFirstRenderAsync();

        await TextService.Resolve();
    }

}