@page "/"
@inherits PageComponent

<PageTitle>Administration</PageTitle>

<div class="@CssClass">
    <MagazineFrame>
        <Left>

        </Left>
        <Content>
            <Collapsible Loading="_isLoading" @bind-Collapsed:get="_isCollapsed" @bind-Collapsed:set="SetCollapsed">
                <Header>
                    What's inside?
                </Header>
                <Content>
                    A hello world!
                </Content>
            </Collapsible>
        </Content>
        <Right>

        </Right>
    </MagazineFrame>
</div>

@code {

    private bool _isCollapsed = true;
    private bool _isLoading;

    private void SetCollapsed(bool value)
    {
        _isCollapsed = value;
        if (value)
        {
            LoadStuff();
        }
    }

    private async void LoadStuff()
    {
        _isLoading = true;
        await InvokeAsync(StateHasChanged);

        await Task.Delay(500);

        _isLoading = false;
        await InvokeAsync(StateHasChanged);
    }

}