@page "/"
@inject APIHttpClient APIHttpClient
@inject TextService TextService
@inherits PageComponent

<PageTitle>Administration</PageTitle>

<div class="@CssClass">
    <MagazineFrame>
        <Left>

        </Left>
        <Content>

        </Content>
        <Right>

        </Right>
    </MagazineFrame>
</div>

@code {


    private ViewModelSchemaContext[] _listContext = [];

    protected override async Task OnFirstRenderAsync()
    {
        await base.OnFirstRenderAsync();

        await LoadData();
        await TextService.Resolve();
    }

    private async Task LoadData()
    {
        _listContext = await APIHttpClient.SendRequest<ViewModelSchemaContext[]>(HttpMethod.Get, "Data/Context");
    }

    private static string GetLink(string identifier)
    {
        return $"/Context/{identifier}";
    }

}