@page "/Parameter"
@inject TextService TextService
@inherits PageComponent

<PageTitle>Administration | Parameter</PageTitle>

<div class="@CssClass">
    <MagazineFrame>
        <Left>
            <SchemaParameterListFilter/>
        </Left>
        <Content>
            <SchemaParameterListView/>
        </Content>
    </MagazineFrame>
</div>

@code {

    protected override async Task OnFirstRenderAsync()
    {
        await base.OnFirstRenderAsync();

        await TextService.Resolve();
    }

}
