@page "/Parameter"
@inherits PageComponent

<PageTitle>Administration | Parameter</PageTitle>

<div class="@CssClass">
    <MagazineFrame>
        <Left>
            <SchemaParameterListFilter/>
        </Left>
        <Content>
            <SchemaParameterListView>
                <SchemaParameterListGroup SchemaParameter="context.GetValue()"/>
            </SchemaParameterListView>
        </Content>
    </MagazineFrame>
</div>

@code {
    
}
