@page "/Parameter"
@inherits PageComponent

<PageTitle>Administration | Parameter</PageTitle>

<div class="@CssClass">
    <MagazineFrame>
        <Left>
            <SchemaParameterListFilter Scope="@Scope" HeaderLevel="HTMLHeaderLevelEnum.H2"/>
        </Left>
        <Content>
            <SchemaParameterListView Scope="@Scope" HeaderLevel="HTMLHeaderLevelEnum.H1">
                <SchemaParameterListGroup Scope="@Scope" Schema="context.Schema" SchemaParameter="context.SchemaParameter" HeaderLevel="HTMLHeaderLevelEnum.H2"/>
            </SchemaParameterListView>
        </Content>
    </MagazineFrame>
</div>

@code {

    private string Scope => GetComponentName();

}
