@page "/Schema"
@inherits PageComponent

<PageTitle>Administration | Parameter</PageTitle>

<div class="@CssClass">
    <MagazineFrame>
        <Left>
            <SchemaParameterListFilter/>
        </Left>
        <Content>
            <SchemaParameterListView/>
        </Content>
    </MagazineFrame>
</div>

@code {

}
