@page "/Schema"
@inherits PageComponent

<PageTitle>Administration | Parameter</PageTitle>

<div class="@CssClass">
    <MagazineFrame>
        <Left>
            <SchemaListFilter Context="@Context"/>
        </Left>
        <Content>
            <SchemaListView Context="@Context"/>
        </Content>
        <Right>
            <SchemaListCreate Context="@Context"/>
        </Right>
    </MagazineFrame>
</div>

@code {

    private string Context => GetComponentName();

}
