.SchemaElementListGroup {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    row-gap: var(--size-gap-md);
    padding: var(--size-gap-md);
    background-color: color-mix(in srgb, transparent 96%, var(--color-complementary, #000000));
    border-radius: var(--size-border-radius-lg);
}

.header {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    row-gap: var(--size-gap-md);
    column-gap: var(--size-gap-md);
    align-items: center;
}

.title {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    column-gap: var(--size-gap-xs);
    align-items: center;
}

.action-list {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    column-gap: var(--size-gap-md);
}