@inject IDispatcher Dispatcher
@inject TextParameterService TextParameterService
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">Search for an element</DynamicHTMLTag>
    <FormSchemaElementList SchemaID="SchemaID" OnSubmit="Submit">
        <ButtonList Alignment="ButtonListAlignmentEnum.Right">
            <Button Status="StatusEnum.Warning" type="button">
                @TextParameterService.Get(ParameterTextConstants.ButtonReset)
            </Button>
            <Button Status="StatusEnum.Info" type="submit">
                @TextParameterService.Get(ParameterTextConstants.ButtonFilter)
            </Button>
        </ButtonList>
    </FormSchemaElementList>
</div>

@code {

    [Parameter]
    public Guid? SchemaID { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? GetComponentName();

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H2;

    private void Submit(IWebFormContext<RequestSchemaElementList> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaElementReducers.ListAction(ScopeCurrent, value.Model));
        Dispatcher.Dispatch(new FeatureSchemaElementReducers.CountAction(ScopeCurrent, new()
        {
                SchemaID = SchemaID,
                Search = value.Model.Search,
        }));
    }

}
