.SchemaElementEntityPropertyView {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    row-gap: var(--size-gap-md);
    padding: var(--size-gap-md);
    background-color: var(--color-offset-primary);
    border-radius: var(--size-border-radius-lg);
}

.grid {
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content max-content;
    column-gap: var(--size-gap-xs, 12px);
    row-gap: var(--size-gap-xs, 12px);
    padding: var(--size-gap-xxs, 8px);
}

.grid-header {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    border-bottom: var(--size-border-width-md, 2px) solid var(--color-offset-primary);
    background-color: var(--color-offset-primary);
    padding: var(--size-gap-xxs, 8px);
    margin: calc(-1 * var(--size-gap-xxs, 8px));
    margin-bottom: calc(-1 * var(--size-gap-tiny, 2px));
}

.grid-row {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
}
