@inject IState<FeatureSchemaState> State
@inject IDispatcher Dispatcher
@inject TextService TextService
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">@TextService.Get(ParameterTextConstants.HeaderFormUpdateSchemaElement)</DynamicHTMLTag>

    <FormSchemaElementUpdate SchemaElement="SchemaElement" OnSubmit="Submit">
        <ButtonList Alignment="ButtonListAlignmentEnum.Right">
            <Button Status="StatusEnum.Info" Loading="IsLoading" type="submit">
                @TextService.Get(ParameterTextConstants.ButtonUpdate)
            </Button>
        </ButtonList>
    </FormSchemaElementUpdate>
</div>

@code {

    [Parameter, EditorRequired]
    public required EntitySchemaElement SchemaElement { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? GetComponentName();

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H1;

    private bool IsLoading => State.Value.TryGetLoading(ScopeCurrent, FeatureSchemaActionKind.Update, out bool value) && value;

    private void Submit(IWebFormContext<RequestSchemaElementUpdate> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaElementReducers.UpdateAction(ScopeCurrent, value.Model));
    }

}
