@page "/Context/{identifier}"
@inject DataHttpClient DataHttpClient
@inject TextService TextService
@inherits PageComponent

<PageTitle>Home | @_entityContext?.Title</PageTitle>

<AuthorizeLayout>
    <PageLayout>
        @if (IsRendered)
        {
            <MagazineLayout>
                <Content>
                    <ElementPanel List="_listElement"/>
                </Content>
            </MagazineLayout>
        }
        else
        {
            <span>Loading...</span>
        }
    </PageLayout>
</AuthorizeLayout>

@code {

    [Parameter]
    public string Identifier { get; set; } = string.Empty;

    private ViewModelSchemaContext? _entityContext;
    private ViewModelDataElement[] _listElement = [];

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (!firstRender) return;

        await WithLoading(LoadData);
        await WithLoading(TextService.Resolve);
    }

    private async Task OnActionPanelActionComplete()
    {
        await WithLoading(LoadData);
        await WithLoading(TextService.Resolve);
    }

    private async Task LoadData()
    {
        await LoadContext();
        await LoadElement();
    }

    private async Task LoadContext()
    {
        _entityContext = await DataHttpClient.GetContextWithIdentifier(Identifier);
    }

    private async Task LoadElement()
    {
        _listElement = await DataHttpClient.GetElementListByContext(Identifier);
    }

}
