@page "/Context/{identifier}"
@inject APIHttpClientOld APIHttpClientOld
@inject TextService TextService
@inherits PageComponent

<PageTitle>Home | @_entityContext?.Title</PageTitle>

@if (IsRendered)
{
    <MagazineLayout>
        <Content>
            <ElementPanel List="_listElement"/>
        </Content>
    </MagazineLayout>
}
else
{
    <span>Loading...</span>
}

@code {

    [Parameter]
    public string Identifier { get; set; } = string.Empty;

    private ViewModelSchemaContext? _entityContext;
    private ViewModelDataElement[] _listElement = [];

    protected override async Task OnFirstRenderAsync()
    {
        await base.OnFirstRenderAsync();

        await LoadContext();
        await LoadElement();
    }

    private async Task LoadContext()
    {
        _entityContext = await APIHttpClientOld.SendRequest<ViewModelSchemaContext>(HttpMethod.Get, $"Data/Context/{Identifier}");
    }

    private async Task LoadElement()
    {
        _listElement = await APIHttpClientOld.SendRequest<ViewModelDataElement[]>(HttpMethod.Get, $"Data/Context/{Identifier}/Element");
    }

}
