.Button {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    min-width: var(--size-control-input, 36px);
    min-height: var(--size-control-input, 36px); 
    position: relative;
    padding: 0 var(--size-gap-xxs, 8px);
    background-color: var(--color-button, #4D4AD3);
    border: var(--size-border-width-lg, 3px) solid color-mix(in srgb, var(--color-button, #4D4AD3) 35%, var(--color-primary, #FFFFFF));
    border-radius: var(--size-border-radius-md, 4px);
    box-shadow: 0 0 0 var(--size-border-width-sm, 1px) transparent inset;
    font: var(--font-button), Serif;
    color: var(--color-primary, #FFFFFF);
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow var(--animation-length-short, 150ms) ease-in-out, border var(--animation-length-short, 150ms) ease-in-out;
}

.Button.loading > ::deep .Loader {
    stroke: var(--color-complementary, #000000);
}

.Button:focus {
    box-shadow: 0 0 0 var(--size-border-width-sm, 1px) var(--color-complementary, #000000) inset;
    outline: none;
}

.Button:not(:disabled):hover {
    border-bottom-width: calc(var(--size-border-width-lg, 3px) * 2);
}

.Button:not(:disabled):active {
    border-bottom-width: var(--size-border-width-sm, 3px);
}

.Button:disabled:not(.loading) {
    border-color: transparent;
    background-color: var(--color-disabled, #565656);
    color: color-mix(in srgb, var(--color-disabled, #7F7F7F) 20%, var(--color-primary, #FFFFFF));
    cursor: not-allowed;
}

.Button[status="none"] {
    --color-button: var(--color-none, #4D4AD3);
}

.Button[status="success"] {
    --color-button: var(--color-success, #23883D);
}

.Button[status="info"] {
    --color-button: var(--color-info, #289ED9);
}

.Button[status="highlight"] {
    --color-button: var(--color-highlight, #0073EC);
}

.Button[status="warning"] {
    --color-button: var(--color-warning, #D97F00);
}

.Button[status="notice"] {
    --color-button: var(--color-notice, #A948DD);
}

.Button[status="error"] {
    --color-button: var(--color-error, #E42B21);
}
