.Collapsible {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    min-height: var(--size-control-md, 42px);
    column-gap: var(--size-gap-xs, 12px);
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-control-md, 42px);
    height: var(--size-control-md, 42px);
    cursor: pointer;
}

.content-wrapper {
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    border-left: var(--size-border-width-md, 2px) solid color-mix(in srgb, transparent 80%, var(--color-complementary, #000000));
    background: color-mix(in srgb, transparent 96%, var(--color-complementary, #000000));
    overflow: hidden;
    transition: grid-template-rows var(--animation-length-medium) ease-in-out, margin var(--animation-length-medium) ease-in-out;
}

.Collapsible[collapsed] .content-wrapper {
    grid-template-rows: minmax(0, 0fr);
}

.Collapsible[collapsed] .content-wrapper .content {
    visibility: hidden;
}

.Collapsible[loading] .content-wrapper {
    transition: none;
}

.content {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    row-gap: var(--size-gap-md);
}
