.BaseTypeGroup {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
}

.BaseTypeGroup ::deep > .group {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
}

.BaseTypeGroup ::deep > .group > .header-wrapper {
    grid-column: 1 / -1;
}

.BaseTypeGroup ::deep > .group > .header-wrapper > .checkbox {
    justify-self: flex-start;
}

.BaseTypeGroup ::deep > .group > .content-wrapper {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
}

.BaseTypeGroup ::deep > .group > .content-wrapper > .content {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    padding: var(--size-gap-xxs);
    padding-bottom: 0;
}



.content {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    row-gap: var(--size-gap-xxs);
    column-gap: var(--size-gap-xxs);
    padding-bottom: var(--size-gap-xxs);
    padding-inline: var(--size-gap-xxs);
    margin-inline: calc(-1 * var(--size-gap-xxs));
    border-bottom: var(--size-border-width-sm) solid var(--color-offset-primary-md);
}

.BaseTypeGroup:last-child .content {
    padding-bottom: 0;
    border-bottom: none;
}
