.BlockRuleEditor {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    column-gap: var(--size-gap-xs);
    row-gap: var(--size-gap-xs);
}

.header {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;

}

.row {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;

}

.BlockRuleEditor ::deep > .list {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    row-gap: var(--size-gap-xs);
}