@inject IStateSelection<FilterFeatureState, ImmutableArray<Guid>> BlockIdsSelection
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    @foreach (Guid blockId in BlockIdsSelection.Value)
    {
        <div class="block" @key="blockId">
            <BlockEditor GroupId="GroupId" BlockId="blockId"/>
        </div>
    }
</div>

@code {
    
    [Parameter, EditorRequired]
    public Guid GroupId { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        BlockIdsSelection.Select(state => [.. state.Filter.GroupList.FirstOrDefault(g => g.ID == GroupId)?.BlockList.Select(b => b.ID) ?? []]);
    }

}