@inject IStateSelection<FilterFeatureState, ImmutableArray<Guid>> BlockIDList
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    @foreach (Guid blockId in BlockIDList.Value)
    {
        <div class="block" @key="blockId">
            <BlockEditor GroupID="GroupID" BlockID="blockId"/>
        </div>
    }
</div>

@code {
    
    [Parameter, EditorRequired]
    public Guid GroupID { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        BlockIDList.Select(FilterFeatureState.SelectBlockIDList(GroupID));
    }

}