@inject IDispatcher Dispatcher
@inject IStateSelection<FilterFeatureState, FilterBlock> BlockSelection
@inject IStateSelection<FilterFeatureState, int> RuleCountSelection
@inject IStateSelection<FilterFeatureState, int> BaseTypeCountSelection
@inject IStateSelection<FilterFeatureState, string> PreviewStylesSelection
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass" role="form" aria-label="Edit filter block">
    <div class="header">
        <div class="config">
            <InputControlText class="name" Size="16" @bind-Value:get="@Block.Name" @bind-Value:set="OnInputNameChange"/>

            <Button type="button" Status="StatusEnum.Success" IsIcon="true" @onclick="OnButtonCloneClick" title="Clone block" aria-label="Clone block">
                <MaterialIcon Icon="content_copy" Size="20px"/>
            </Button>

            <Button type="button" Status="StatusEnum.Error" IsIcon="true" @onclick="OnButtonDeleteClick" title="Delete block" aria-label="Delete block">
                <MaterialIcon Icon="remove" Size="20px"/>
            </Button>

        </div>

        <div class="preview">
            <div class="preview-item" style="@PreviewStyles">
                Preview item
            </div>
        </div>
    </div>

    <div class="content">
        <Collapsible class="base-types" @bind-Collapsed="_collapsedRules">
            <Header>
                <h4>
                    @RuleTypeLabel
                </h4>
            </Header>
            <Content>
                <BlockRuleEditor GroupId="GroupId" BlockId="BlockId"/>
            </Content>
        </Collapsible>


        <Collapsible class="base-types" @bind-Collapsed="_collapsedBaseType">
            <Header>
                <h4>
                    @BaseTypeLabel
                </h4>
            </Header>
            <Content>
                <BlockBaseTypeSelector GroupId="GroupId" BlockId="BlockId"/>
            </Content>
        </Collapsible>
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public Guid GroupId { get; set; }

    [Parameter, EditorRequired]
    public Guid BlockId { get; set; }

    private FilterBlock Block => BlockSelection.Value;
    private int RuleCount => RuleCountSelection.Value;
    private int BaseTypeCount => BaseTypeCountSelection.Value;
    private string PreviewStyles => PreviewStylesSelection.Value;
    private string RuleTypeLabel => $"Rules ({RuleCount})";
    private string BaseTypeLabel => $"Base Type ({BaseTypeCount})";

    private bool _collapsedRules = true;
    private bool _collapsedBaseType = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        BlockSelection.Select(FilterFeatureState.SelectBlock(GroupId, BlockId));
        RuleCountSelection.Select(FilterFeatureState.SelectBlockRuleCount(GroupId, BlockId));
        BaseTypeCountSelection.Select(FilterFeatureState.SelectBlockBaseTypeCount(GroupId, BlockId));
        PreviewStylesSelection.Select(FilterFeatureState.SelectPreviewStyle(GroupId, BlockId));
    }

    private void OnInputNameChange(string? value)
    {
        DispatchUpdate(Block with { Name = value ?? string.Empty });
    }

    private void OnButtonCloneClick()
    {
        Dispatcher.Dispatch(new FilterFeatureReducers.CloneBlockAction(GroupId, BlockId));
    }

    private void OnButtonDeleteClick()
    {
        Dispatcher.Dispatch(new FilterFeatureReducers.RemoveBlockAction(GroupId, BlockId));
    }

    private void DispatchUpdate(FilterBlock updatedBlock)
    {
        Dispatcher.Dispatch(new FilterFeatureReducers.SetBlockAction(GroupId, updatedBlock));
    }

}