.BlockBaseTypeSelector {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    row-gap: var(--size-gap-xs);
}

.header {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    row-gap: var(--size-gap-xs);
}

.action-list {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: var(--size-gap-md);
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: var(--size-gap-md);
    padding: var(--size-gap-xxs);
    border: var(--size-border-width-sm) solid var(--color-offset-primary-md);
    max-height: 500px;
    overflow: auto;
}

.no-results {
    grid-column: 1 / -1;
    margin: var(--size-gap-md) 0;
    text-align: center;
}