@inject IStateSelection<FilterFeatureState, ImmutableArray<Guid>> GroupIDsSelection
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    @foreach (Guid groupId in GroupIDsSelection.Value)
    {
        <GroupItemView @key="groupId" GroupID="groupId"/>
    }
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();

        GroupIDsSelection.Select(FilterFeatureState.SelectGroupIDList());
    }

}