@inject IStateSelection<FilterFeatureState, ImmutableArray<Guid>> GroupIdsSelection
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    @foreach (Guid groupId in GroupIdsSelection.Value)
    {
        <GroupItemView @key="groupId" GroupId="groupId"/>
    }
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();

        GroupIdsSelection.Select(FilterFeatureState.SelectGroupIDList());
    }

}