@inject IStateSelection<FilterFeatureState, string> GroupNameSelection
@inject IDispatcher Dispatcher
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <Collapsible class="group" id="@($"group-{GroupID}")" @bind-Collapsed="IsCollapsed">
        <Header>
            <div class="header">
                <h3>@GroupName</h3>
                <Button type="button" class="btn-create-block" Status="StatusEnum.Success" IsIcon="true" @onclick="OnButtonAddBlockClick">
                    <MaterialIcon Icon="add" Size="20px"/>
                </Button>
            </div>
        </Header>
        <Content>
            <BlockListView GroupID="GroupID"/>
        </Content>
    </Collapsible>
</div>

@code {

    [Parameter, EditorRequired]
    public Guid GroupID { get; set; }

    private bool IsCollapsed { get; set; }

    private string GroupName => GroupNameSelection.Value ?? "Unnamed Group";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        GroupNameSelection.Select(FilterFeatureState.SelectGroupName(GroupID));
    }

    private void OnButtonAddBlockClick()
    {
        Dispatcher.Dispatch(new FilterFeatureReducers.SetBlockAction(GroupID, FilterBlock.Default));
    }

}