.GroupEditor {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    row-gap: var(--size-gap-md);
}

.GroupEditor ::deep .table {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    align-items: center;
    column-gap: 10px;
}

.table-cell {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row;
    column-gap: 10px;
}

.table-cell button {
    max-width: var(--size-control-sm);
    max-height: var(--size-control-sm);
    border-radius: var(--size-border-radius-md);
    color: var(--color-primary);
    border: var(--size-border-width-sm) solid var(--color-success);
    cursor: pointer;
}

.navigate {
    text-decoration: none;
}


