.GroupListView {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    row-gap: var(--size-gap-md);
}

.GroupListView ::deep .group {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    padding: var(--size-gap-sm);
    border-radius: var(--size-border-radius-lg);
    background-color: var(--color-offset-primary-sm);
}

.GroupListView ::deep .group .content {
    margin-top: var(--size-gap-xxs);
}

.header {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
    align-items: center;
    column-gap: var(--size-gap-xxs);
}

.content {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
}
