@inject IDispatcher Dispatcher
@inject IState<FilterFeatureState> State
@inherits FluxorElementComponent

<nav class="GroupEditor">
    <Table class="table" List="GroupList">
        <TableHeader>
            <div role="cell">
                <strong>Name</strong>
            </div>
            <div role="cell"></div>
            <div role="cell"></div>
        </TableHeader>
        <TableRow>
            <div class="table-cell" role="cell">
                <InputControlText class="name" Size="20" @bind-Value:get="@context.Row.Name" @bind-Value:set="e => OnInputGroupEditNameChange(e, context.Row)"/>
            </div>

            <div class="table-cell" role="cell">
                @if (context.Index == 0)
                {
                    <Button type="button" Status="StatusEnum.Success" @onclick="AddNewRowAtBottom">
                        <MaterialIcon Icon="add" Size="20px"/>
                    </Button>
                }
                else
                {
                    <Button type="button" Status="StatusEnum.Error" @onclick="() => DeleteGroup(context.Row.ID)">
                        <MaterialIcon Icon="remove" Size="20px"/>
                    </Button>
                }
            </div>

            <div class="table-cell" role="cell">
                <a href="@GetGroupLink(@context.Row)" class="navigate" title="Scroll to group">
                    <Button type="button" Status="StatusEnum.Info">
                        <MaterialIcon Icon="jump_to_element" Size="20px"/>
                    </Button>
                </a>
            </div>

        </TableRow>
    </Table>
</nav>

@code {

    private List<FilterGroup> GroupList => State.Value.Filter.GroupList;

    private string GetGroupLink(FilterGroup group)
    {
        return $"#group-{group.ID}";
    }

    private void OnInputGroupEditNameChange(string value, FilterGroup group)
    {
        group.Name = value;
        Dispatcher.Dispatch(new FilterFeatureReducers.EditGroupAction(group.Clone()));
    }

    private void AddNewRowAtBottom()
    {
        FilterGroup group = FilterGroup.Default;
        Dispatcher.Dispatch(new FilterFeatureReducers.AddGroupAction(group));
    }

    private void DeleteGroup(Guid id) => Dispatcher.Dispatch(new FilterFeatureReducers.RemoveGroupAction(id));

}