@inject IDispatcher Dispatcher
@inject IState<FilterFeatureState> State
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    @foreach (FilterGroup group in GroupList)
    {
        <div class="group" id="@group.ToGroupID()">
            <div class="header">
                <h3>@group.Name</h3>
            </div>
            <div class="content">
                <BlockListView Group="group" BlockList="group.BlockList"/>
            </div>
        </div>
    }
</div>

@code {

    private List<FilterGroup> GroupList => State.Value.Filter.GroupList;

}
 