@inject IDispatcher Dispatcher
@inject IStateSelection<FilterFeatureState, ImmutableDictionary<FilterColorTypeEnum, IReadOnlyList<FilterColor>>> ColorCollectionSelection
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    @switch (Rule)
    {
        case FilterRule<FilterComparatorInt?> intRule:
            <FilterIntCondition @bind-Value:get="intRule.Value" @bind-Value:set="v => OnIntConditionChange(intRule, v)"/>
            break;

        case FilterRule<FilterComparatorRarity?> rarityRule:
            <FilterRarityCondition @bind-Value:get="rarityRule.Value" @bind-Value:set="v => OnRarityConditionChange(rarityRule, v)"/>
            break;

        case FilterRule<FilterColor?> colorRule:
            <InputControlSelect TOption="FilterColor" OptionList="GetColorListByKeyword(colorRule.Keyword)" @bind-Value:get="colorRule.Value" @bind-Value:set="v => OnColorChange(colorRule, v)">
                @GetColorName(context)
            </InputControlSelect>
            break;

        case FilterRule<FilterMinimapIcon?> minimapRule:
            <InputControlMinimapIcon @bind-Value:get="minimapRule.Value" @bind-Value:set="v => OnMinimapIconChange(minimapRule, v)"/>
            break;

        case FilterRule<FilterBeamEffect?> beamRule:
            <InputControlBeamEffect @bind-Value:get="beamRule.Value" @bind-Value:set="v => OnBeamEffectChange(beamRule, v)"/>
            break;

        case FilterRule<FilterFontSize> rangeRule:
            <InputElementRange Min="FilterFontSize.Min" Max="FilterFontSize.Max" Step="FilterFontSize.Step" @bind-Value:get="rangeRule.Value.Value" @bind-Value:set="v => OnFontSizeChange(rangeRule, v)"/>
            break;

        case FilterRule<bool> boolRule:
            <InputControlCheckbox Option="true" @bind-Value:get="boolRule.Value" @bind-Value:set="v => OnBooleanChange(boolRule, v)">
                @context.ToString()
            </InputControlCheckbox>
            break;

        default:
            <span class="flag-badge">Enabled</span>
            break;
    }
</div>

@code {

    [Parameter, EditorRequired]
    public Guid GroupID { get; set; }

    [Parameter, EditorRequired]
    public Guid BlockID { get; set; }

    [Parameter, EditorRequired]
    public FilterRule Rule { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ColorCollectionSelection.Select(FilterFeatureState.SelectCustomColorList());
    }

    private void OnIntConditionChange(FilterRule<FilterComparatorInt?> rule, FilterComparatorInt? value)
    {
        DispatchChange(rule with { Value = value });
    }

    private void OnRarityConditionChange(FilterRule<FilterComparatorRarity?> rule, FilterComparatorRarity? value)
    {
        DispatchChange(rule with { Value = value });
    }

    private void OnColorChange(FilterRule<FilterColor?> rule, FilterColor? value)
    {
        DispatchChange(rule with { Value = value });
    }

    private void OnMinimapIconChange(FilterRule<FilterMinimapIcon?> rule, FilterMinimapIcon? value)
    {
        DispatchChange(rule with { Value = value });
    }

    private void OnBeamEffectChange(FilterRule<FilterBeamEffect?> rule, FilterBeamEffect? value)
    {
        DispatchChange(rule with { Value = value });
    }

    private void OnFontSizeChange(FilterRule<FilterFontSize> rule, double? value)
    {
        DispatchChange(rule with { Value = rule.Value with { Value = value ?? 0 } });
    }

    private void OnBooleanChange(FilterRule<bool> rule, bool? value)
    {
        DispatchChange(rule with { Value = value ?? false });
    }

    private void DispatchChange(FilterRule updatedRule)
    {
        Dispatcher.Dispatch(new FilterFeatureReducers.SetRuleAction(GroupID, BlockID, updatedRule));
    }

    private HashSet<FilterColor?> GetColorListByKeyword(FilterKeywordEnum keyword)
    {
        FilterColorTypeEnum colorType = keyword switch
        {
            FilterKeywordEnum.SetTextColor => FilterColorTypeEnum.Text,
            FilterKeywordEnum.SetBackgroundColor => FilterColorTypeEnum.Background,
            FilterKeywordEnum.SetBorderColor => FilterColorTypeEnum.Border,
            _ => throw new InvalidEnumArgumentException(nameof(keyword), (int)keyword, typeof(FilterKeywordEnum))
        };

        ImmutableDictionary<FilterColorTypeEnum, IReadOnlyList<FilterColor>> collection = ColorCollectionSelection.Value;
        return collection.TryGetValue(colorType, out IReadOnlyList<FilterColor>? list) ? [null, .. list] : [null];
    }

    private static string GetColorName(FilterColor? color) => color?.Name ?? "[Default]";
}