.DataParameterListTable {
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content max-content;
}

.DataParameterListTable ::deep > .table {
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
}