@inject IDispatcher Dispatcher
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <div class="create">
        <FormDataParameterTextCreate @ref="_ref" SchemaParameter="@SchemaParameter" OnSubmit="Submit">
            <div class="action-list">
                <Button type="submit">Create new value</Button>
            </div>
        </FormDataParameterTextCreate>
    </div>

    <DataParameterListTable T="EntityDataParameterText" class="table" Scope="@ScopeCurrent" SchemaParameter="SchemaParameter" OnClone="UpdateForm"/>
</div>

@code {

    [Parameter, EditorRequired]
    public required EntitySchemaParameterText SchemaParameter { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? $"{ComponentName}:{SchemaParameter.SchemaIdentifier}";

    private FormDataParameterTextCreate? _ref;

    private void UpdateForm(EntityDataParameterText entity)
    {
        if (_ref == null) return;

        _ref.Model.Value = entity.Value;
        _ref.Model.Culture = entity.Culture;
        _ref.Model.TimeEffective = entity.TimeEffective;
    }

    private void Submit(WebFormContext<RequestDataParameterTextCreate> context)
    {
        Dispatcher.Dispatch(new FeatureDataParameterReducers.AddTextAction(ScopeCurrent, new()
        {
            SchemaIdentifier = SchemaParameter.SchemaIdentifier,
            Value = context.Model.Value,
            Culture = context.Model.Culture,
            TimeEffective = context.Model.TimeEffective
        }));
    }
}
