@inject IDispatcher Dispatcher
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <div class="create">
        <FormDataParameterStyleCreate @ref="_ref" SchemaParameter="@SchemaParameter" OnSubmit="Submit">
            <div class="action-list">
                <Button type="submit">Create new value</Button>
            </div>
        </FormDataParameterStyleCreate>
    </div>

    <DataParameterListTable T="EntityDataParameterStyle" class="table" Scope="@ScopeCurrent" SchemaParameter="SchemaParameter" OnClone="UpdateForm"/>
</div>

@code {

    [Parameter, EditorRequired]
    public required EntitySchemaParameterStyle SchemaParameter { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? $"{ComponentName}:{SchemaParameter.SchemaIdentifier}";

    private FormDataParameterStyleCreate? _ref;

    private void UpdateForm(EntityDataParameterStyle entity)
    {
        if (_ref == null) return;

        _ref.Model.Value = entity.Value;
        _ref.Model.TimeEffective = entity.TimeEffective;
    }

    private void Submit(WebFormContext<RequestDataParameterStyleCreate> context)
    {
        Dispatcher.Dispatch(new FeatureDataParameterReducers.AddStyleAction(ScopeCurrent, new()
        {
            SchemaIdentifier = SchemaParameter.SchemaIdentifier,
            Value = context.Model.Value,
            TimeEffective = context.Model.TimeEffective
        }));
    }

}
