@inject TextService TextService
@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateSchemaOverview Schema="Schema" List="Schema.ContextList">
        <Header>
            <h3>@TextService.Get(TextConstants.HeaderContext)</h3>
        </Header>

        <Form>
            <FormSchemaContext Schema="Schema" Value="context" OnChange="FormChange"/>
        </Form>
    </TemplateSchemaOverview>
</div>

@code {

    [Parameter, EditorRequired]
    public required EntitySchema Schema { get; set; }

    private void FormChange(EntitySchemaContext entity)
    {
        Schema.ContextList = Schema.ContextList?.Where(x => x.ID != entity.ID).Append(entity).OrderBy(x => x.Order).ToList();
    }

}