@inject IState<FeatureSchemaState> StateSchema
@inject IDispatcher Dispatcher
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <Loader Loading="IsLoading">
        <div class="header">
            <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">List of schemas</DynamicHTMLTag>
            <InputElementPagination PageSize="@(Request.PageSize ?? 10)" Count="Count" @bind-Value="Request.PageNumber" @bind-Value:after="Callback"/>
        </div>

        @foreach (EntitySchema item in List)
        {
            <div class="item">
                @ChildContent(item)
            </div>
        }
    </Loader>
</div>

@code {

    [Parameter, EditorRequired]
    public RenderFragment<EntitySchema> ChildContent { get; set; }

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H1;

    [Parameter]
    public RequestSchemaList? InitialRequest { get; set; }
    private RequestSchemaList InitialRequestCurrent => InitialRequest ?? new();

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? GetComponentName();

    private bool IsLoading => StateSchema.Value.TryGetLoading(ScopeCurrent, FeatureSchemaActionKind.List, out bool value) && value;
    private IReadOnlyList<EntitySchema> List => StateSchema.Value.TryGetList(ScopeCurrent, out IReadOnlyList<EntitySchema>? list) ? list : [];
    private RequestSchemaList Request => StateSchema.Value.TryGetRequest(ScopeCurrent, out RequestSchemaList? request) ? request : InitialRequestCurrent;
    private int Count => StateSchema.Value.TryGetCount(ScopeCurrent, out int count) ? count : 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (!IsLoading)
        {
            Dispatcher.Dispatch(new FeatureSchemaReducers.ListAction(ScopeCurrent, InitialRequestCurrent));
        }
    }

    private void Callback()
    {
        Dispatcher.Dispatch(new FeatureSchemaReducers.ListAction(ScopeCurrent, Request));
    }

}
