@inject IState<FeatureSchemaState> State
@inject IDispatcher Dispatcher
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <Loader Loading="IsLoading">
        <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">List of schemas</DynamicHTMLTag>

        @foreach (EntitySchema item in List)
        {
            @ChildContent(item)
        }
    </Loader>
</div>

@code {

    [Parameter, EditorRequired]
    public RenderFragment<EntitySchema> ChildContent { get; set; }

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H1;

    [Parameter]
    public RequestSchemaList? Request { get; set; }
    private RequestSchemaList RequestCurrent => Request ?? new();

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? GetComponentName();

    private bool IsLoading => State.Value.TryGetLoading(ScopeCurrent, FeatureSchemaActionKind.List, out bool value) && value;
    private IReadOnlyList<EntitySchema> List => State.Value.TryGetList(ScopeCurrent, out IReadOnlyList<EntitySchema>? list) ? list : [];

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (List.Count == 0 && !IsLoading)
        {
            Dispatcher.Dispatch(new FeatureSchemaReducers.ListAction(ScopeCurrent, RequestCurrent));
        }
    }

}
