.SchemaListElementView {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    row-gap: var(--size-gap-xxs);
    border-radius: var(--size-border-radius-lg);
}

.title {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    column-gap: var(--size-gap-xs);
    align-items: center;
}

.SchemaListElementView ::deep .grid {
    grid-template-columns: max-content max-content 1fr max-content max-content max-content;
}
