@inject IDispatcher Dispatcher
@inject TextService TextService
@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">Search for a schema</DynamicHTMLTag>

    <FormSchemaList OnSubmit="Submit">
        <div class="action-list">
            <Button Status="StatusEnum.Warning" type="button">
                @TextService.Get(TextConstants.ButtonReset)
            </Button>
            <Button Status="StatusEnum.Info" type="submit">
                @TextService.Get(TextConstants.ButtonFilter)
            </Button>
        </div>
    </FormSchemaList>
</div>

@code {

    [Parameter]
    public string? Context { get; set; }
    private string ContextCurrent => Context ?? GetComponentName();

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H1;

    private void Submit(IWebFormContext<RequestSchemaList> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaReducers.SchemaListAction(ContextCurrent, value.Model));
    }

}