@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    @ChildContent
    <i class="arrow">❯</i>
</div>

@code {

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }

}
       