@page "/Schema/{ID:guid}"
@inherits PageComponent

<PageTitle>Administration | Schema</PageTitle>

<div class="@CssClass">
    <MagazineFrame>
        <Left>
        </Left>
        <Content>
            <SchemaEntityView Context="@Scope" ID="ID"/>
        </Content>
        <Right>
        </Right>
    </MagazineFrame>
</div>

@code {

    [Parameter]
    public Guid ID { get; set; }

    private string Scope => ID.ToString();

}