@page "/Schema/{ID:guid}/Element"
@inherits PageComponent

<PageTitle>Administration | Element</PageTitle>

<div class="@CssClass">
    <MagazineFrame>
        <Left>
            <SchemaElementListFilter Context="@Context" SchemaID="ID" HeaderLevel="HTMLHeaderLevelEnum.H2"/>
        </Left>
        <Content>
            <SchemaElementListView Context="@Context" SchemaID="ID" HeaderLevel="HTMLHeaderLevelEnum.H1"/>
        </Content>
        <Right>
            <SchemaElementListCreate Context="@Context" HeaderLevel="HTMLHeaderLevelEnum.H2"/>
        </Right>
    </MagazineFrame>
</div>

@code {

    [Parameter]
    public Guid ID { get; set; }

    private string Context => GetComponentName();

}
