@inherits Noxy.NET.UI.Abstractions.BaseComponentForm<AuthenticationSignUpFormModel>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm Context="@Context" OnSubmit="OnSubmit">
        <InputGroupText @bind-Value="Context.Model.Email"/>
        <InputGroupPassword @bind-Value="Context.Model.Password"/>
        <InputGroupPassword Autocomplete="WebFormInputFieldPasswordAutocompleteEnum.NewPassword" @bind-Value="Context.Model.ConfirmPassword"/>

        @ChildContent
    </WebForm>
</div>

@code {

    protected override WebFormContext<AuthenticationSignUpFormModel> CreateContext()
    {
        return new(new());
    }

}
