@inherits BaseInput<TOption>
@typeparam TOption

<div class="@ComponentName">
    <InputElementSelect TOption="TOption" @attributes="AdditionalAttributes" class="@GetComponentClass()" ID="@IDCurrent" Name="@GetName()" OptionList="OptionList" ChildContent="ChildContent"
                        Value="Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression">
    </InputElementSelect>

    <i class="arrow">❯</i>
</div>

@code {

    [Parameter, EditorRequired]
    public RenderFragment<TOption?> ChildContent { get; set; }

    [Parameter, EditorRequired]
    public HashSet<TOption> OptionList { get; set; }

}