<label class="checkbox">
    <input class="input" type="checkbox" checked="@Value" @onchange="OnCheckboxChanged" disabled="@IsDisabled"/>

    <span class="control">
        <MaterialIcon Icon="check" Size="16px"/>
    </span>

    @if (!string.IsNullOrEmpty(Label))
    {
        <span class="label">@Label</span>
    }
</label>

@code {

    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    private async Task OnCheckboxChanged(ChangeEventArgs e)
    {
        bool newValue = e.Value is true;
        await ValueChanged.InvokeAsync(newValue);
    }

}