@inherits BaseInput<FilterComparatorRarity>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <InputControlSelect TOption="FilterComparatorTypeEnum" OptionList="_operators" Name="operator" @bind-Value:get="_operator" @bind-Value:set="OnSelectOperatorChange">
        @context.ToTextString()
    </InputControlSelect>

    <InputControlSelect TOption="FilterRarityTypeEnum" OptionList="_setRarityTypeEnum" ID="@ID" Name="value" @bind-Value:get="_value" @bind-Value:set="OnSelectValueChange">
        @context.ToTextString()
    </InputControlSelect>
</div>

@code {
    private readonly HashSet<FilterComparatorTypeEnum> _operators = Enum.GetValues<FilterComparatorTypeEnum>().ToHashSet();
    private readonly HashSet<FilterRarityTypeEnum> _setRarityTypeEnum = Enum.GetValues<FilterRarityTypeEnum>().ToHashSet();

    private FilterRarityTypeEnum _value;
    private FilterComparatorTypeEnum _operator = FilterComparatorTypeEnum.Equal;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _value = Value?.Value ?? FilterRarityTypeEnum.Normal;
        _operator = Value?.FilterComparatorType ?? FilterComparatorTypeEnum.Equal;
    }

    private void OnSelectValueChange(FilterRarityTypeEnum value)
    {
        _value = value;
        RegisterChange();
    }

    private void OnSelectOperatorChange(FilterComparatorTypeEnum op)
    {
        _operator = op;
        RegisterChange();
    }

    private void RegisterChange()
    {
        FilterComparatorRarity result = new() { Value = _value, FilterComparatorType = _operator };
        NotifyChange(result);
    }

}