@inherits BaseInput<FilterComparatorInt?>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <InputControlSelect TOption="FilterComparatorTypeEnum" OptionList="_operators" Name="operator" @bind-Value:get="_operator" @bind-Value:set="SetOperator">
        @context.ToTextSymbol()
    </InputControlSelect>

    <InputControlInteger class="value-input" ID="@ID" Name="value" Size="5" @bind-Value="@_numericValue" @bind-Value:after="PushUpdate"/>
</div>

@code {
    private int? _numericValue;
    private FilterComparatorTypeEnum _operator = FilterComparatorTypeEnum.Equal;

    private readonly HashSet<FilterComparatorTypeEnum> _operators = Enum.GetValues<FilterComparatorTypeEnum>().ToHashSet();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Value is not null)
        {
            _numericValue = Value.Value;
            _operator = Value.FilterComparatorType;
        }
        else
        {
            _numericValue = null;
            _operator = FilterComparatorTypeEnum.Equal;
        }
    }

    private void SetOperator(FilterComparatorTypeEnum op)
    {
        _operator = op;
        PushUpdate();
    }

    private void PushUpdate()
    {
        FilterComparatorInt? result = _numericValue is not null ? new() { Value = _numericValue.Value, FilterComparatorType = _operator } : null;
        NotifyChange(result);
    }

}