@inherits BaseInput<FilterComparatorInt?>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <InputControlSelect TOption="FilterComparatorTypeEnum" OptionList="_operators" Name="operator" @bind-Value:get="_operator" @bind-Value:set="OnSelectOperatorChange">
        @context.ToTextString()
    </InputControlSelect>

    <InputControlInteger class="value-input" ID="@ID" Name="value" Size="5" @bind-Value:get="@_value" @bind-Value:set="OnInputValueChange"/>
</div>

@code {
    private int? _value;
    private FilterComparatorTypeEnum _operator = FilterComparatorTypeEnum.Equal;

    private readonly HashSet<FilterComparatorTypeEnum> _operators = Enum.GetValues<FilterComparatorTypeEnum>().ToHashSet();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Value is not null)
        {
            _value = Value.Value;
            _operator = Value.FilterComparatorType;
        }
        else
        {
            _value = null;
            _operator = FilterComparatorTypeEnum.Equal;
        }
    }

    private void OnInputValueChange(int? value)
    {
        _value = value;
        RegisterChange();
    }

    private void OnSelectOperatorChange(FilterComparatorTypeEnum op)
    {
        _operator = op;
        RegisterChange();
    }

    private void RegisterChange()
    {
        FilterComparatorInt? result = _value is not null ? new() { Value = _value.Value, FilterComparatorType = _operator } : null;
        NotifyChange(result);
    }

}