@inherits BaseInput<FilterComparatorRarity?>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <InputControlSelect TOption="FilterComparatorTypeEnum" OptionList="_operators" Name="operator" @bind-Value:get="_operator" @bind-Value:set="SetOperator">
        @context.ToTextSymbol()
    </InputControlSelect>

    <InputControlSelect TOption="FilterRarityTypeEnum?" OptionList="_setRarityTypeEnum" ID="@ID" Name="rarityValue" @bind-Value:get="_rarityValue" @bind-Value:set="OnRarityChange">
        @(context?.ToFilterString() ?? "")
    </InputControlSelect>
</div>

@code {
    private readonly HashSet<FilterComparatorTypeEnum> _operators = Enum.GetValues<FilterComparatorTypeEnum>().ToHashSet();
    private readonly HashSet<FilterRarityTypeEnum?> _setRarityTypeEnum = [null, .. Enum.GetValues<FilterRarityTypeEnum>().Cast<FilterRarityTypeEnum?>()];

    private FilterRarityTypeEnum? _rarityValue;
    private FilterComparatorTypeEnum _operator = FilterComparatorTypeEnum.Equal;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Value is not null)
        {
            _rarityValue = Value.Value;
            _operator = Value.FilterComparatorType;
        }
        else
        {
            _rarityValue = null;
            _operator = FilterComparatorTypeEnum.Equal;
        }
    }

    private void OnRarityChange(FilterRarityTypeEnum? value)
    {
        _rarityValue = value;
        PushUpdate();
    }

    private void SetOperator(FilterComparatorTypeEnum op)
    {
        _operator = op;
        PushUpdate();
    }

    private void PushUpdate()
    {
        FilterComparatorRarity? result = _rarityValue is not null
            ? new() { Value = _rarityValue.Value, FilterComparatorType = _operator }
            : null;

        NotifyChange(result);
    }
}