@inherits BaseInput<FilterComparatorRarity?>

<div @attributes="AdditionalAttributes" class="@CssClass">
    @if (_operator == ComparatorTypeEnum.Between)
    {
        <InputControlSelect TOption="RarityTypeEnum?" OptionList="_setRarityTypeEnum" Name="left" @bind-Value="_left" @bind-Value:after="PushUpdate">
            @context.ToString()
        </InputControlSelect>
    }

    <InputControlSelect TOption="ComparatorTypeEnum" OptionList="_operators" Name="operator" @bind-Value:get="_operator" @bind-Value:set="SetOperator">
        @context.ToFilterSymbol()
    </InputControlSelect>
    
    <InputControlSelect TOption="RarityTypeEnum?" OptionList="_setRarityTypeEnum" Name="right" @bind-Value="_right" @bind-Value:after="PushUpdate">
        @context?.ToFilterString()
    </InputControlSelect>
</div>

@code {
    
    private readonly HashSet<ComparatorTypeEnum> _operators = Enum.GetValues<ComparatorTypeEnum>().ToHashSet();
    private HashSet<RarityTypeEnum?> _setRarityTypeEnum = [];

    private RarityTypeEnum? _left;
    private RarityTypeEnum? _right;
    private ComparatorTypeEnum _operator = ComparatorTypeEnum.Equal;
    
    protected override void OnInitialized()
    {
        _setRarityTypeEnum = [null, .. Enum.GetValues<RarityTypeEnum>().Cast<RarityTypeEnum?>()];
    }

    protected override void OnParametersSet()
    {
        _left = Value?.Left;
        _right = Value?.Right;
        _operator = Value?.ComparatorType ?? ComparatorTypeEnum.Equal;
    }
    
    private void SetOperator(ComparatorTypeEnum op)
    {
        _operator = op;
        if (_operator != ComparatorTypeEnum.Between) _right = null;
        PushUpdate();
    }

    private void PushUpdate()
    {
        if (_left is null && _right is null)
        {
            ValueChanged.InvokeAsync(null);
        }
        else
        {
            ValueChanged.InvokeAsync(new() { Left = _left, Right = _right, ComparatorType = _operator });
        }
    }
}
