@inherits BaseInput<FilterComparatorInt?>

<div @attributes="AdditionalAttributes" class="@CssClass">
    @if (_operator == FilterComparatorTypeEnum.Between)
    {
        <InputControlInteger class="left" Name="left" Size="5" @bind-Value="@_left" @bind-Value:after="PushUpdate"/>
    }

    <InputControlSelect TOption="FilterComparatorTypeEnum" OptionList="_operators" Name="operator" @bind-Value:get="_operator" @bind-Value:set="SetOperator">
        @context.ToTextSymbol()
    </InputControlSelect>
    
    <InputControlInteger class="right" Name="right" Size="5" @bind-Value="@_right" @bind-Value:after="PushUpdate"/>
</div>

@code {

    private int? _left;
    private int? _right;
    private FilterComparatorTypeEnum _operator = FilterComparatorTypeEnum.Equal;

    private readonly HashSet<FilterComparatorTypeEnum> _operators = Enum.GetValues<FilterComparatorTypeEnum>().ToHashSet();
    
    protected override void OnParametersSet()
    {
        _left = Value?.Left;
        _right = Value?.Right;
        _operator = Value?.FilterComparatorType ?? FilterComparatorTypeEnum.Equal;
    }

    private void SetOperator(FilterComparatorTypeEnum op)
    {
        _operator = op;
        if (_operator != FilterComparatorTypeEnum.Between) _right = null;
        PushUpdate();
    }

    private void PushUpdate()
    {
        if (_left is null && _right is null)
        {
            ValueChanged.InvokeAsync(null);
        }
        else
        {
            ValueChanged.InvokeAsync(new() { Left = _left, Right = _right, FilterComparatorType = _operator });
        }
    }
}