<div class="form-field">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label for="@For" class="label">@Label</label>
    }

    @ChildContent
</div>

@code {

    [Parameter, EditorRequired]
    public string For { get; set; } = string.Empty;

    [Parameter]
    public string? Label { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

}  