.InputElementAutosuggest {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column;
    max-width: 100%;
    position: relative;
}

.dropdown {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    border: var(--size-border-width-sm, 1px) solid var(--color-complementary, #000000);
    border-bottom-left-radius: var(--size-border-radius-md, 4px);
    border-bottom-right-radius: var(--size-border-radius-md, 4px);
    background-color: var(--color-primary, #FFFFFF);
}

.min-length,
.no-result,
.option {
    padding: var(--size-gap-xxs, 8px) var(--size-gap-xxs, 8px);
}

.option {
    cursor: pointer;
}

.option[data-selected] {
    color: HighlightText;
    background-color: Highlight;
}

