.InputElementAutosuggest {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    max-width: 100%;
    position: relative;
}

.dropdown {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    border: var(--size-border-width-sm) solid var(--color-border-control);
    border-bottom-left-radius: var(--size-border-radius-md);
    border-bottom-right-radius: var(--size-border-radius-md);
    background-color: var(--color-background-primary);
}

.autocomplete-dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
}

.option {
    cursor: pointer;
    padding: var(--size-gap-xxs) var(--size-gap-xxs);
}

.option[selected] {
    color: HighlightText;
    background-color: Highlight;
}

