@inject IState<FeatureSchemaState> State
@inject IDispatcher Dispatcher
@inject TextParameterService TextParameterService
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">Create new context</DynamicHTMLTag>
    <FormSchemaContextCreate SchemaID="SchemaID" OnSubmit="Submit">
        <ButtonList Alignment="ButtonListAlignmentEnum.Right">
            <Button Status="StatusEnum.Info" Loading="IsLoading" type="submit">
                @TextParameterService.Get(ParameterTextConstants.ButtonCreate)
            </Button>
        </ButtonList>
    </FormSchemaContextCreate>
</div>

@code {

    [Parameter, EditorRequired]
    public Guid SchemaID { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? GetComponentName();

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H2;

    private bool IsLoading => State.Value.TryGetLoading(ScopeCurrent, FeatureSchemaActionKind.Add, out bool value) && value;

    private void Submit(IWebFormContext<RequestSchemaContextCreate> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaContextReducers.AddAction(ScopeCurrent, value.Model));
    }

}
