@inject IState<FeatureSchemaState> StateSchema
@inject IState<FeatureSchemaContextState> StateElement
@inject IDispatcher Dispatcher
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <Loader Loading="IsLoading">
        @if (Schema != null)
        {
            <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">List of contexts for @Schema?.Name</DynamicHTMLTag>

            @foreach (EntitySchemaContext entitySchemaContext in List)
            {
                @ChildContent((Schema, entitySchemaContext))
            }
        }
    </Loader>
</div>

@code {

    [Parameter]
    public Guid? SchemaID { get; set; }
    private Guid SchemaIDCurrent => SchemaID ?? Guid.Empty;

    [Parameter, EditorRequired]
    public RenderFragment<(EntitySchema Schema, EntitySchemaContext SchemaContext)> ChildContent { get; set; }

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H1;

    [Parameter]
    public RequestSchemaContextList? Request { get; set; }
    private RequestSchemaContextList RequestCurrent => Request ?? new() { SchemaID = SchemaID };

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? GetComponentName();

    private bool IsLoading => IsLoadingSchema || IsLoadingList;

    private bool IsLoadingSchema => StateSchema.Value.TryGetLoading(ScopeCurrent, FeatureSchemaActionKind.Find, out bool value) && value;
    private EntitySchema? Schema => StateSchema.Value.TryGetFind(ScopeCurrent, out EntitySchema? value) ? value : null;

    private bool IsLoadingList => StateElement.Value.TryGetLoading(ScopeCurrent, FeatureSchemaContextActionKind.List, out bool value) && value;
    private IReadOnlyList<EntitySchemaContext> List => StateElement.Value.TryGetList(ScopeCurrent, out IReadOnlyList<EntitySchemaContext>? list) ? list : [];

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (Schema == null && !IsLoadingSchema)
        {
            Dispatcher.Dispatch(new FeatureSchemaReducers.FindAction(ScopeCurrent, new() { ID = SchemaIDCurrent }));
        }

        if (List.Count == 0 && !IsLoadingList)
        {
            Dispatcher.Dispatch(new FeatureSchemaContextReducers.ListAction(ScopeCurrent, RequestCurrent));
        }
    }

}
