@typeparam T
@inject IJSRuntime JS
@inherits ElementComponent
@implements IAsyncDisposable

<div @ref="_refElement" class="@CssClass">
    @for (int i = 0; i < List.Count; i++)
    {
        int index = i;
        T item = List[index];

        @ChildContent((item, index))
    }
</div>

@code {

    [Parameter, EditorRequired]
    public required IReadOnlyList<T> List { get; set; }

    [Parameter, EditorRequired]
    public required RenderFragment<(T Item, int Index)> ChildContent { get; set; }

    [Parameter]
    public EventCallback<(int IndexOld, int IndexNew)> OnUpdate { get; set; }

    [Parameter]
    public Func<T, int, object>? KeySelector { get; set; }

    [Parameter]
    public string? HandleClass { get; set; }
    private string HandleClassCurrent => !string.IsNullOrWhiteSpace(HandleClass) ? HandleClass : "sortable-handle";

    [Parameter]
    public string? DragClass { get; set; }
    private string DragClassCurrent => !string.IsNullOrWhiteSpace(DragClass) ? DragClass : "sortable-item";

    [Parameter]
    public string? GhostClass { get; set; }
    private string GhostClassCurrent => !string.IsNullOrWhiteSpace(GhostClass) ? GhostClass : "sortable-ghost";

    private ElementReference _refElement;
    private IJSObjectReference? _componentModule;
    private IJSObjectReference? _refInstance;
    private DotNetObjectReference<SortableList<T>>? _refDotNet;

    private object GetRowKey(T item, int index)
    {
        return KeySelector != null ? KeySelector(item, index) : item!;
    }

    protected override async Task OnAfterFirstRenderAsync()
    {
        await base.OnAfterFirstRenderAsync();

        await JS.InvokeAsync<IJSObjectReference>("import", $"./_content/{Constants.AssemblyNameUICommon}/Sortable.min.js");
        _componentModule = await JS.InvokeAsync<IJSObjectReference>("import", JS.GetComponentPath(typeof(SortableList<>)));

        Dictionary<string, object?> options = new()
        {
                { "animation", 150 },
                { "ghostClass", GhostClassCurrent },
                { "draggable", $".{DragClassCurrent}" },
                { "handle", $".{HandleClassCurrent}" }
        };
        _refDotNet = DotNetObjectReference.Create(this);
        _refInstance = await _componentModule.InvokeAsync<IJSObjectReference>("initSortable", _refElement, _refDotNet, options);
    }

    [JSInvokable]
    public async Task OnJSUpdate(int oldIndex, int newIndex)
    {
        if (oldIndex != newIndex && OnUpdate.HasDelegate)
        {
            await OnUpdate.InvokeAsync((oldIndex, newIndex));
        }
    }

    public async ValueTask DisposeAsync()
    {
        try
        {
            if (_refInstance is not null)
            {
                await _refInstance.InvokeVoidAsync("destroy");
                await _refInstance.DisposeAsync();
            }

            if (_componentModule is not null)
            {
                await _componentModule.DisposeAsync();
            }

            _refDotNet?.Dispose();
        }
        catch (JSDisconnectedException)
        {
        }
    }

}