@page "/"
@inject APIHttpClient APIHttpClient
@inject TextService TextService
@inherits PageComponent

<PageTitle>Home</PageTitle>

<PageLayout>
    @foreach (ViewModelSchemaContext item in _listContext)
    {
        <h2>@item.Title</h2>
        <span>@item.Description</span>
        <NavLink href="@GetLink(item.SchemaIdentifier)">@TextService.Get(TextConstants.LinkNavigationSchema)</NavLink>
    }
</PageLayout>

@code {

    private ViewModelSchemaContext[] _listContext = [];

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (!firstRender) return;

        await WithLoading(TextService.Resolve);
        await WithLoading(LoadData);
    }

    private async Task LoadData()
    {
        _listContext = await APIHttpClient.SendRequest<ViewModelSchemaContext[]>(HttpMethod.Get, "Data/Context");
    }

    private static string GetLink(string identifier)
    {
        return $"/Context/{identifier}";
    }

}
