@inherits BaseComponentActionInput

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateInputGroup DisplayName="@Context.Title" Description="@Context.Description">
        <InputElementDecimal @bind-Value="Context.DecimalValue" @bind-Value:after="Commit"/>
    </TemplateInputGroup>
</div>

@code {

}
