@page "/Schema/{id:guid}"
@inject TextService TextService
@inherits PageComponent

<PageTitle>Home</PageTitle>

@* @if (_data != null) *@
@* { *@
@* <h2>@_data.Name</h2> *@
    @* <SchemaOverviewParameter Schema="_data"/> *@
    @* <SchemaOverviewElement Schema="_data"/> *@
    @* <SchemaOverviewProperty Schema="_data"/> *@
@* } *@
@* else *@
@* { *@
@* <span>Loading...</span> *@
@* } *@

@code {

    [Parameter]
    public Guid ID { get; set; }

    // private EntitySchema? _data;

    protected override async Task OnAfterFirstRenderAsync()
    {
        await base.OnAfterFirstRenderAsync();

        await LoadData();
    }

    private async Task LoadData()
    {
        // _data = await APIHttpClientOld.SendRequest<EntitySchema>(HttpMethod.Get, $"Template/Schema/{ID}");
    }

}
