@page "/Schema/{id:guid}"
@inject APIHttpClient APIHttpClient
@inject TextService TextService
@inherits PageComponent

<PageTitle>Home</PageTitle>

<PageLayout>
    @if (_data != null)
    {
        <h2>@_data.Name</h2>
        <SchemaOverviewParameter Schema="_data"/>
        <SchemaOverviewElement Schema="_data"/>
        <SchemaOverviewProperty Schema="_data"/>
    }
    else
    {
        <span>Loading...</span>
    }
</PageLayout>

@code {

    [Parameter]
    public Guid ID { get; set; }

    private EntitySchema? _data;

    protected override async Task OnFirstRenderAsync()
    {
        await base.OnFirstRenderAsync();

        await LoadData();
        await TextService.Resolve();
    }

    private async Task LoadData()
    {
        _data = await APIHttpClient.SendRequest<EntitySchema>(HttpMethod.Get, $"Template/Schema/{ID}");
    }

}
