.SchemaParameterListFilter {

}

.action-list {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row;
    justify-content: flex-end;
    column-gap: var(--size-gap-md);
}

.action-list ::deep .Button {
    min-width: 120px;
}
