.table {
    display: grid;
    row-gap: var(--size-gap-md);
    column-gap: var(--size-gap-md);
    grid-template-columns: 1fr max-content max-content max-content;
}

.body {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
}

.row {
    grid-column: 1 / -1;
    display: grid;
    row-gap: var(--size-gap-xs);
    grid-template-columns: subgrid;
}

.column {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
}

.column.left {
    justify-self: flex-start;
}

.column.right {
    justify-self: flex-end;
}

.create {
    display: flex;
    flex-flow: column;
    row-gap: var(--size-gap-md);
}

.action {
    display: flex;
    flex-flow: column;
    row-gap: var(--size-gap-md);
}

.action-list {
    display: flex;
    flex-flow: row;
    column-gap: var(--size-gap-md);
    justify-content: flex-end;
}

hr {
    width: 100%;
    height: 1px;
    margin: 0;
    border: none;
    background: var(--color-background-disabled);
}
