@inject IDispatcher Dispatcher
@inject TextService TextService
@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">Search for a parameter</DynamicHTMLTag>
    <FormSchemaParameterList OnSubmit="Submit">
        <div class="action-list">
            <Button Status="StatusEnum.Warning" type="button">
                @TextService.Get(TextConstants.ButtonReset)
            </Button>
            <Button Status="StatusEnum.Info" type="submit">
                @TextService.Get(TextConstants.ButtonFilter)
            </Button>
        </div>
    </FormSchemaParameterList>
</div>

@code {

    [Parameter]
    public Guid? SchemaID { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? GetComponentName();

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H2;

    private void Submit(IWebFormContext<RequestSchemaParameterList> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.ListAction(ScopeCurrent, value.Model));
    }

}
