@inject IState<FeatureSchemaParameterState> StateSchemaParameter
@inject IDispatcher Dispatcher
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
        <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">List of schema parameters</DynamicHTMLTag>

        @foreach (EntitySchemaParameter.Discriminator entitySchemaParameter in List)
        {
                @ChildContent(entitySchemaParameter.GetValue())
        }
</div>

@code {

    [Parameter]
    public Guid? SchemaID { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment<EntitySchemaParameter> ChildContent { get; set; }

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H1;

    [Parameter]
    public RequestSchemaParameterList? Request { get; set; }
    private RequestSchemaParameterList RequestCurrent => Request ?? new() { SchemaID = SchemaID };

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? GetComponentName();

    private IReadOnlyList<EntitySchemaParameter.Discriminator> List => StateSchemaParameter.Value.TryGetList(ScopeCurrent, out IReadOnlyList<EntitySchemaParameter.Discriminator>? list) ? list : [];

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.ListAction(ScopeCurrent, RequestCurrent));
    }

}