@inject IDispatcher Dispatcher
@inject TextParameterService TextParameterService
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">Search for a parameter</DynamicHTMLTag>
    <FormSchemaParameterList SchemaID="SchemaID" OnSubmit="Submit">
        <ButtonList Alignment="ButtonListAlignmentEnum.Right">
            <Button Status="StatusEnum.Warning" type="button">
                @TextParameterService.Get(ParameterTextConstants.ButtonReset)
            </Button>
            <Button Status="StatusEnum.Info" type="submit">
                @TextParameterService.Get(ParameterTextConstants.ButtonFilter)
            </Button>
        </ButtonList>
    </FormSchemaParameterList>
</div>

@code {

    [Parameter]
    public Guid? SchemaID { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? GetComponentName();

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H2;

    private void Submit(IWebFormContext<RequestSchemaParameterList> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.ListAction(ScopeCurrent, value.Model));
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.CountAction(ScopeCurrent, new()
        {
            Search = value.Model.Search,
            IsApprovalRequired = value.Model.IsApprovalRequired,
            IsSystemDefined = value.Model.IsSystemDefined,
            ParameterType = value.Model.ParameterType,
            SchemaID = SchemaID
        }));
    }

}
