.SchemaParameterListItemText {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    row-gap: var(--size-gap-md);
}

.create {
    display: flex;
    flex-flow: column;
    padding-inline: var(--size-gap-xs);
}

.action-list {
    display: flex;
    flex-flow: row;
    column-gap: var(--size-gap-md);
    justify-content: flex-end;
}

.table {
    display: grid;
    column-gap: var(--size-gap-md);
    grid-template-columns: max-content 1fr max-content max-content max-content max-content;
    border-top: 1px solid black;
}

.header {
    border-bottom: 1px solid black;
}

.body {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
}

.row {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    padding: var(--size-gap-xs);
}

.row[current] {
    font-weight: 600;
    background-color: #dfdfdf;
}

.column {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
}

.column.left {
    justify-self: flex-start;
}

.column.right {
    justify-self: flex-end;
}

