@typeparam T where T : class
@inherits ElementComponent
@implements IDisposable

<form @attributes="AdditionalAttributes" class="@CssClass" @onsubmit="SubmitHandler" @onsubmit:preventDefault>

    <MessageBox MessageList="Context.GetFormErrorList()" Type="@StatusEnum.Error"/>

    <CascadingValue Value="@Context" IsFixed="true">
        @ChildContent
    </CascadingValue>

</form>

@code {

    [Parameter, EditorRequired]
    public required WebFormContext<T> Context { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback<WebFormContext<T>> OnSubmit { get; set; }

    protected override void OnInitialized()
    {
        Context.Changed += ContextChangedHandler;
    }

    public void Dispose()
    {
        Context.Changed -= ContextChangedHandler;
    }

    private async Task SubmitHandler()
    {
        Context.BeginSubmit();

        try
        {
            if (!Context.Validate()) return;
            await OnSubmit.InvokeAsync(Context);
        }
        finally
        {
            Context.EndSubmit();
        }
    }


    private void ContextChangedHandler(IWebFormContext sender)
    {
        InvokeAsync(StateHasChanged);
    }

}
